@{
    ViewBag.Title = "주소검색 API ASP.NET Core Example.";
}

<div id="content">
    <p class="heading1">@ViewData["Title"]</p>
    <br/>
    <fieldset class="fieldset1">
		<legend>주소검색</legend>
		<ul>
			<li><a href="Jusolink/Search">Search</a> - 주소검색</li>
		</ul>
    </fieldset>
	<fieldset class="fieldset1">
		<legend>포인트 관리</legend>
		<ul>
			<li><a href="Jusolink/GetBalance">GetBalance</a> - 잔여포인트 확인</li>
			<li><a href="Jusolink/GetUnitCost">GetUnitCost</a> - 검색 단가확인</li>
		</ul>
	</fieldset>
    <br/>
</div>
